.About-bg{
    /* background-color:antiquewhite; */
    background-color:var(--sorft-dark);
}
/* MainContainer */
.About-container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2.5%;

    /* background-color:cadetblue; */
    display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        /* align-items: center; */

}
/* About-detail */

.About-detail{
    width: 50%;
    height: 70%;
    margin-top: 10%;
    /* background-color: blanchedalmond; */
    display: flex;
        flex-direction: column;
        justify-content: space-around;
    color: var(--red);
}

.About-detail h2{
    margin: 3rem 0;
    font-size: 1.3rem;
    margin-bottom: 5%;
}

.About-detail h3{
    margin: 10px 0;
}

.About-detail p{
    font-style: normal;
    /* font-size: ; */
    line-height: 25px;

}

.Skills-container{
    display:flex;
        justify-content: flex-start;
        flex-wrap:wrap ;
    gap: 0.5rem;
    color: black;
}
.Skills-container div{
    position: relative;
    width: 25%;
    height: 10%;
    padding: 5%;
    background-color:var(--brown);
    text-align: center;
    border-radius: 15px;
}

.Skills-icon{
    width: 2rem;
    height: 50%;
}

.Skills-container div p{
    position: absolute;
    top: 50%;
    left: 0;

    opacity: 0;
    width: 100%;
    /* background-color: red; */
    
}


.Skills-container div:hover {
    background-color:var(--red);
    transition: 0.4s;
    color: white;
}

.Skills-container div:hover p{
    opacity: 1;
    transition:0.5;
}

.Skills-container div:hover .Skills-icon {
    transition: 0.5s;
    transform: translateY(-20px);
    
    /* opacity: 0; */
}
/* About-contact */

.About-contact{
    width: 40%;
    height: 70%;
    margin-top: 10%;
    background-color:var(--brown);
    display: flex;
        flex-direction: column;
        justify-content: space-around;
    color: white;
    border-radius: 15px;
} 

.About-contact img{
    width: 100%;
    max-width: 200px;

    height: 100%;
    max-height: 200px;

    border-radius:100%;
    border: 3px solid black;
    margin: 0 auto ;
}

.About-contact-details{
    width: 50%;
    height: 40%;
    margin: 0 auto ;
    padding: 0 0 0 5%  ;
    /* background-color:blue; */

    display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        gap:10px;
    color: black;
}

.About-contact-details div{
    width: 200%;
    height: 35%;
    display: flex;
        justify-content:flex-start;
        align-items: center;
    gap: 1rem;
    /* background-color: yellow; */
}

.About-contact-icon{
    /* background-color:red; */
    width: 20%;
    height:50%
}

.About-contact-details div:hover .About-contact-icon{
    animation-duration: 0.5s;
    animation-name: iconanimation;
    color: white;
    transition: 0.2s;
}

@keyframes iconanimation {
    from{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.About-contact-details div:hover p {
    transition:0.6s;
    color: white;
}


@media (max-width:770px) {
    .About-container{
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 0 2.5%;
    
        /* background-color:cadetblue; */
        display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* align-items: center; */
    }

    .About-detail{
        width: 100%;
        height: auto;
        margin-top: 10%;
        /* background-color: blanchedalmond; */
        display: flex;
            flex-direction: column;
            justify-content: space-around;
        color: var(--red);
    }


    /* skill */

    .Skills-container{
        display:flex;
            justify-content: flex-start;
            flex-wrap:wrap ;
        gap: 0.7rem;
        color: black;
    }

    .Skills-container div{
        position: relative;
        width: 30%;
        height: 10%;
        padding: 5%;
        background-color:var(--brown);
        text-align: center;
        border-radius: 15px;
    }









    .About-contact{
        width: 80%;
        height: 70%;
        /* margin-top: 10%; */
        margin: 10% auto;
        padding: 5% 0;

        background-color:var(--brown);
        
        display: flex;
            flex-direction: column;
            justify-content: space-around;
        color: white;
        border-radius: 15px;
    } 
    
    


    .About-contact img{
        /* width: 40%;
        max-width: 200px;
    
        height: 100%;
        max-height: 200px;
    
        border-radius:100%;
        border: 3px solid black; */
        margin-bottom: 2rem ;
    }

    .About-contact-details{
        width: 40%;
        height: 40%;
        margin: 0 auto ;
        /* background-color:blue; */

    
        /* display: flex; */
            /* flex-direction: column; */
            /* align-items: center; */
            /* justify-content: center; */
            gap:10px;
        color: black;
    }

    .About-contact-icon{
        width: 2rem;
        height: 50%;
    }
}