.header {
    position: fixed;
    background-color: aqua;
    width: 100%;
    height: 128px;
}

.Header-container {
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    padding: 0 2.5%;  
    background-color: red ; 
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-small {
    position: fixed;
    background-color: aqua;
    width: 100%;
    height: 70px;
}

.small {
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    padding: 0 2.5%;  
    background-color: red;
    display: flex;
        justify-content: space-between;
        align-items: center;
}


.Header-Logo{
    font-size: 2.4rem;
    font-weight: 700;
}

.Header-Categories{
    height: 100%;
    width: 100%;
    max-width: 400px;

    display: flex;
        justify-content: space-around;
        align-items: center;
}

.Header-Categories h2{
    font-size: 1.3rem;
}





