.header {
    position: fixed;
    /* background-color: aqua; */
    background-color: var(--dark);

    width: 100%;
    height: 20vh;
    z-index: 2;
}

.Header-container {
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    padding: 0 2.5%;  
    /* background-color: red ;  */
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-small {
    position: fixed;
    /* background-color: aqua; */
    background-color: var(--dark);
    width: 100%;
    height: 10vh;
    z-index: 2;
}

.small {
    width: 90%;
    height: 100%;
    margin: 0 auto; 
    padding: 0 2.5%;  
    /* background-color: red; */
    display: flex;
        justify-content: space-between;
        align-items: center;
}


.Header-Logo{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--red);
}

.Header-Categories{
    height: 100%;
    width: 100%;
    max-width: 400px;

    display: flex;
        justify-content: space-around;
        align-items: center;
}

.Header-Categories h2{
    /* font-size: 1.3rem; */
    color: var(--red);
    cursor: pointer;
}
.Header-Categories h2:hover{
    color: white;
}

@media (max-width: 770px) {
    .Header-Categories{
        display: none;
    }
    
}





