*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --dark :rgb(43, 46, 74);
    --red: rgb(232, 69, 69);
    --brown:  rgb(144, 55, 73);
    --sorft-dark: rgb(83, 53, 74);

}

body{
    font-family: 'Rubik', sans-serif;
}
/* 
 html{
    font-size: 62.5%;
} 
p{
    font-size: 1.6rem;
} */
h1{
    font-size:3rem;
}
h2{
    font-size: 1.3rem;
}
h3{
    font-size: 1rem;
} 
p{
    font-size: 1rem;
}
li{
    list-style: none;
}