footer{
    width: 100%;
    height: 80px;
    /* background-color: deeppink; */
    background-color: var(--dark);
}
.footer-container {
    width:90%;
    height:100%;
    margin: 0 auto;
    /* background-color: aqua; */
    padding: 0 2.5%;
    display:flex;
        justify-content: space-between;
        align-items: center;
    color: var(--red);
    font-weight: 800;
}

.footer-container--title{
    opacity: 0.8;
}
.footer-container--list{
    display: flex;
        justify-content: space-between;
}

.footer-container--list li{
    padding: 0 10px;    
}








