.Experience-container{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2.5%;

    background-color: chartreuse;
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* align-items: center; */
}
.Experience-detail-container {
    margin-top: 10%;
    background-color:beige;
    width: 100%;
    height: 80%;
}
.Experience-detail-container h2 {
}



