/* card */
.Experience-card{
    width: 80%;
    height:400px;
    border: solid 1px black;
    border-radius: 5px;

    margin-right: 2.5%;
    display: flex;
        flex-direction: column;
}

.Card-image{
    width: 100%;
    height: 40%;

    border-radius: 5px 5px 0 0; 
    background-color: cadetblue;
}

.Card-detail{
    width: 100%;
    height: 60%;

    padding: 2.5%;

    border-radius: 0px 0px 5px 5px;
    background-color:violet;

    display: flex;
        flex-direction: column;
}

.Card-detail-title {
    width: 100%;
    height: 20%;
    overflow: hidden;

    text-align: center;
    display: grid;
    place-items: center;
}

.Card-detail-skills {
    display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:10px;

    flex-wrap: wrap;

    height: 40%;
    width: 100%;
    
    margin: 10px 0 ;
    overflow: hidden;
}

.Card-detail-skills span{
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: red;
}

.Card-detail-description{
    height: 50%;
    overflow: hidden;


}