/* .slick-arrow { */
    /* position: absolute; */
    /* bottom: -40px; */
    /* height: 5%; */
    /* background-repeat: no-repeat; */
/* } */


.slick-prev{
    left: -40px;
}

.slick-prev:before{
    font-size: 40px ;
    color: var(--red);
    
}

.slick-next{
    right: -20px;
}

.slick-next:before {
    font-size: 40px ;
    color: var(--red);

}

/* .slick-prev:before, .slick-next:before {
    display: none;
    width: 20%;
    height: 20%;
    color: red;
    size: 50px;

} */