.slider-container {
    width: 90%;
    /* height: 100%; */
    /* background-color: aqua; */
    margin: 10% auto;
}

.slick-prev {
    left: -40px;
}

.slick-prev:before {
    font-size: 40px;
    /* color: var(--red); */
    color: white;

}

.slick-next {
    right: -20px;
}

.slick-next:before {
    font-size: 40px;
    /* color: var(--red); */
    color: white;
}

@media (max-width:750px) {
    .slider-container {
        width: 90%;
        height: 50%;
        /* background-color: aqua; */
        /* margin: 25% auto; */
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -12px;
    }
}